<h1>Messages</h1>

<p><%= link_to 'Add a New Message', new_message_url %></p>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th>Product</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.message %></td>
      <td><%= message.user_id %></td>
      <td><%= message.listing_id %></td>

      <td><%= link_to 'Show', message_url(message) %></td>
      <td><%= link_to 'Edit', edit_message_url(message) %></td>
      <td><%= link_to 'Destroy', message_url(message), method: 'delete', data: { confirm: "Do you really want to delete this message?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

