
<head>
  <%= stylesheet_link_tag "searches.css", :media => "all" %>
  <%= stylesheet_link_tag "buttons.css", :media => "all" %>
  <%= stylesheet_link_tag "main.css", :media => "all" %>
  <%= stylesheet_link_tag "listings.css", :media => "all" %>
</head>
<!--
<br>
<br>
<br>
<br>
<h1>Search Results! </h1>

<br>

  <table class="csstablegenerator">
  <tr>
  <td><img src="http://mbeans.com/images/items/main/bugaboo/bugaboo-donkey-mono-black-red.jpg" width="100" height="100" alt="Bugaboo Donkey" /></td>
  <td class="description">The Bugaboo Donkey is the convertible stroller for kid and goods that grows and flows with your family. Whether you have one kid, two kids or twins, one stroller fits all! In just three simple clicks, the Bugaboo Donkey converts from a full-size mono to a full-size duo stroller and back again. With its flexible luggage options, there's plenty of room for your goods too. Going around town has never been this easy.</td>
<td class="location">60601</td>
<td class="mybutton">
      <%= link_to "I wanna Tryzee!", new_tryal_path %>
      </td>
    </tr>
<tr>
  <td><img src="http://mbeans.com/images/items/main/bugaboo/bugaboo-donkey-mono-black-red.jpg" width="100" height="100" alt="Bugaboo Donkey" /></td>

  <td class="description">The Bugaboo Donkey is the convertible stroller for kid and goods that grows and flows with your family. Whether you have one kid, two kids or twins, one stroller fits all! In just three simple clicks, the Bugaboo Donkey converts from a full-size mono to a full-size duo stroller and back again. With its flexible luggage options, there's plenty of room for your goods too. Going around town has never been this easy.</td>
<td class="location">60601</td>
<td class="abutton">
      <%= link_to "I wanna Tryzee!", new_tryal_path %>
        </td>
</tr>
<tr>
  <td><img src="http://mbeans.com/images/items/main/bugaboo/bugaboo-donkey-mono-black-red.jpg" width="100" height="100" alt="Bugaboo Donkey" /></td>

  <td class="description">The Bugaboo Donkey is the convertible stroller for kid and goods that grows and flows with your family. Whether you have one kid, two kids or twins, one stroller fits all! In just three simple clicks, the Bugaboo Donkey converts from a full-size mono to a full-size duo stroller and back again. With its flexible luggage options, there's plenty of room for your goods too. Going around town has never been this easy.</td>
<td class="location">60601</td>
<td class="abutton" "button">
      <%= link_to "I wanna Tryzee!", new_tryal_path %>
        </td>
    </tr>
</table>

 -->
<!-- TINA STUFF -->
<br>
<br>
<h1>Search Results! BOB Ironman Stroller, Zip Code 60601</h1>

<table>
  <tr>
  <th>Item Picture:</th>
  <th>Item Information:</th>
  <th>Lender:</th>
  <th>Select</th>

  </tr>
    <tr>
    <td class="pic"><img src="http://res.cloudinary.com/hn2fdlzuu/image/upload/c_fill,g_faces,h_500,w_640/bob-ironman-stroller.png" width="150" height="150" alt="BOB Ironman Stroller" /></td>
    <td class="description" font-size=8pt> When my son was around six months I was on the hunt for a great jogging stroller so he and I could workout together. Everyone said to get a BOB, but I'm so cheap. It goes against my core values to pay over $300 for a stroller! I'm so happy I didn't listen to my frugal voice on this purchase! This is an amazing stroller for running.</td>
    <td class="pic"><img src= "http://www.inhabitots.com/wp-content/uploads/2013/02/mothers-and-babies-share-cells-537x428.jpg" width="150" height="150" alt="Supermom" /></td>
    <td><span class="searchButton">
    <%= link_to "Learn More!", listings_path %>
    </span></td>
  </tr>
  <tr>
    <td class="pic"><img src="http://www.examiner.com/images/blog/wysiwyg/image/BOB(17).jpg" width="150" height="150" alt="BOB Ironman Stroller" /></td>
    <td class="description">BOB Ironman is great for anyone looking to hit the streets with your little bambino and still look great. I have a five month old who almost instantly goes to sleep as soon as I start jogging. The shocks are a great feature especially if you are running in the city.
    <td class="pic"><img src= "http://www.mommyniri.com/wp-content/uploads/2010/05/headshot-2.jpg" width="150" height="150" alt="Supermom" /></td>
    <td><span class="searchButton">
    <%= link_to "Learn More!", listings_path %>
    </span></td>
  </tr>
  <tr>
    <td class="pic"><img src="http://bobmoms.com/wp-content/uploads/2010/10/BOB-Ironman-Stroller.jpg" width="150" height="150" alt="Bugaboo Donkey" /></td>
    <td class="description">I run and I roller blade, so I needed a stroller that could remain sturdy and confident at higher than average running speed (the fastest I go is 12 mph). BOB does that extremely well. It is super comfy for my baby (I am currently using it with the car seat adaptor), it is relatively easy to assemble and disassemble, it is made of high quality material.
    <td class="pic"><img src="http://thebabypicz.com/wp-content/uploads/2013/04/Baby-Picture-Mom-Love-her-Baby-so-Much.jpg" width="150" height="150" alt="Mom with Baby" /></td>
    <td><span class="searchButton">
    <%= link_to "Learn More!", listings_path %>
    </span></td>
  </tr>
  <tr>
    <td class="pic"><img src="http://www4.images.coolspotters.com/photos/1028933/bob-ironman-duallie-stroller-profile.jpg" width="150" height="150"/></td>
    <td class="description">I have twin girls and researched lots of jogging strollers. The consensus was that for serious runners the fixed wheel is the way to go. I am not dissapointed. I was a fairly serious runner before I got pregnant and now that the girls are older I wanted to get back into running. The fixed wheel hasn't been an issue.
    <td class="pic"><img src="http://threaders.files.wordpress.com/2010/11/black-motherson.jpg" width="150" height="150" /></td>
   <td><span class="searchButton">
    <%= link_to "Learn More!", listings_path %>
    </span></td>
  <tr>
    <td class="pic"><img src="http://www.kids-n-cribs.com/images/thumbs/bob/bob_WS1101.jpg" width="150" height="150"/></td>
    <td class="description">The BOB Ironman is awesome! My husband and I are both runners and we both LOVE it. Our son is 6 months old and he seems to enjoy riding along as well. If you want to try to get back into shape and take your baby along, the BOB is the best.</td>
    <td class="pic"><img src="http://www.visualphotos.com/photo/2x4559506/hispanic_mother_holding_baby_girl_BLD077452.jpg" width="150" height="150" /></td>
    <td><span class="searchButton" font:>
    <%= link_to "Learn More!", listings_path %>
    </span></td>

  </tr>

</table>
