<head>
  <%= stylesheet_link_tag "searches.css", :media => "all" %>
  <%= stylesheet_link_tag "buttons.css", :media => "all" %>
  <%= stylesheet_link_tag "main.css", :media => "all" %>
</head>

<br>
<br>
<br>
<br>
<br>
<h1>Let's get started!</h1>

<br>
<br>
<br>
<section>
  <br>
  <table>
    <tr>
<td class="startbutton">
      <%= link_to "Lend a Product", new_listing_path %>
</td>
<br>
<br>
<td class="startbutton">
      <%= link_to "Try a Product", new_search_path %>
</td>
</tr>
</table>
</section>

<p>
</p>

<p>
  </p>
