
<%= form_for(@tryal) do |f| %>
  <% if @tryal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tryal.errors.count, "error") %> prohibited this tryal from being saved:</h2>

      <ul>
      <% @tryal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :lender_id %><br />
    <%= f.number_field :lender_id %>
  </div>
  <div class="field">
    <%= f.label :listing_id %><br />
    <%= f.number_field :listing_id %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br />
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :due_at %><br />
    <%= f.datetime_select :due_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
